@model IEnumerable<Uni_Shop.Models.NongSanContent>
@using Uni_Shop.ModelDBs
@{
    ViewData["Title"] = "ShopList1";
    Layout = null;
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="position-fixed d-none modal-wrapper" id="conternetDelete">
    <div id="modal-delete">

    </div>
    <button class="btn btn-outline-primary position-absolute  " id="huydelete" style=" width: 70px; right: 120px; top: 50px;">Hủy</button>
</div>



<div class="album bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

            @foreach (var item in Model)
            {
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" style="height: 150px; background: url('@Url.Content("~/Myfiles/" + item.anhnongsandeltail.LinkAnh)'); background-size: cover">
                        <ul class="featured__item__pic__hover">

                            <li><button class="fa fa-edit p-2" style="border: 1px white; border-radius: 50%;" onclick="EditNS(@item.nongsandetail.MaNongSan)"></button></li>

                            <li><button class="fa fa-info-circle p-2" style="border: 1px white; border-radius: 50%;" onclick="EditIMG(@item.nongsandetail.MaNongSan)"></button></li>
                            <form asp-action="Delete" asp-controller="QuanLyNS" asp-area="Partner" asp-route-id="@item.nongsandetail.MaNongSan">
                            <li><button class="fa fa-remove xoa p-2" style="border: 1px white; border-radius: 50%;" type="submit" value="@item.nongsandetail.MaNongSan"></button></li>
                            </form>

                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">@item.nongsandetail.TenNongSan</a></h6>
                        <h5>@item.nongsandetail.Gia VNĐ</h5>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-center">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="QuanLyNS" asp-action=@ViewData["Title"] asp-route-maloai="@Model.First().loainongsandeltail.MaLoaiNongSan" asp-route-pg="1">Đầu</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="QuanLyNS" asp-action=@ViewData["Title"] asp-route-maloai="@Model.First().loainongsandeltail.MaLoaiNongSan" asp-route-pg="@(pager.CurrentPage - 1)">Trước</a>
                </li>
            }
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="QuanLyNS" asp-action="ShopList1" asp-route-maloai="@Model.First().loainongsandeltail.MaLoaiNongSan" asp-route-pg="@pge">@pge</a>
                </li>
            }
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="QuanLyNS" asp-action=@ViewData["Title"] asp-route-maloai="@Model.First().loainongsandeltail.MaLoaiNongSan" asp-route-pg="@(pager.CurrentPage +1)">Sau</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="QuanLyNS" asp-action=@ViewData["Title"] asp-route-maloai="@Model.First().loainongsandeltail.MaLoaiNongSan" asp-route-pg="@(pager.TotalPages)">Cuối</a>
                </li>
            }
        </ul>
    }
</div>



<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


<script>


    let id = document.getElementById("1");
    id.classList.add('active');
    let loai = document.getElementsByClassName("loai");

    async function ShowFilter1(maloai) {
        for (i = 0; i < loai.length; i++) {
            if (loai[i].classList.contains('active')) {
                loai[i].classList.remove('active');
            }
        }
        let id1 = document.getElementById(maloai);
        id1.classList.add('active');
        await $.ajax({
            type: 'POST', url: 'list1/{maloai}', data: { maloai: maloai }, success: function (response) {

                $("#res").html(response);
            },
            error: function (response) {
                alert("error!");  //
            }
        });
    }

    async function Create() {

        for (i = 0; i < loai.length; i++) {
            if (loai[i].classList.contains('active')) {
                let id2 = i + 1;

                await $.ajax({
                    type: 'POST', url: '/Partner/QuanLyNS/create1/{id2}', data: { id2: id2 }, success: function (response) {
                        console.log(id2)
                        $("#res").html(response);
                    },
                    error: function (response) {
                        alert("error!");  //
                    }
                });
                console.log(i + 1);
            }
        }
    }

    async function EditNS(mans) {

        await $.ajax({
            type: 'POST', url: '/Partner/NongSanChiTiet/NongSanChiTietDoiTac1', data: { mans: mans }, success: function (response) {
                $("#res").html(response);
            },
            error: function (response) {
                alert("error!");  //
            }
        });
    }


    async function EditIMG(maimg) {
        /*alert(maimg)*/
        await $.ajax({
            /* type: 'GET', url: `/Partner/Home/EditImage/${maimg}`*/
            type: 'POST', url: '/Partner/Home/EditImage', data: { maimg: maimg }, success: function (response) {
                $("#res").html(response);
            },
            error: function (response) {
                alert("error!");  //
            }
        });
    }




    //async function Deletesp(masp) {
    //    alert(masp);
    //    /*alert(maimg)*/
    //    await $.ajax({
    //        /* type: 'GET', url: `/Partner/Home/EditImage/${maimg}`*/
    //        type: 'POST', url: '/Partner/QuanLyNS/Delete', data: { id: masp }, success: function (response) {
    //            $("#res").html(response);
    //        },
    //        error: function (response) {
    //            alert("error!");  //
    //        }
    //    });
    //}
    //// Xoa san pham
    //$('#huydelete').click(function () {
    //    $("#conternetDelete").addClass('d-none');
    //})
    //$('.xoa').each(function (index, value) {
    //    $(value).click(function () {
    //    //    alert(index)
    //    $("#conternetDelete").removeClass('d-none');
    //    let deletesp = "/Partner/QuanLyNS/Delete/" + $(value).val();
    //    console.log($(value).val());
    //    $("#modal-delete").load(deletesp);
    //    })
    //})
    // Xoa san pham
    //$('.xoa').each(function (index, value) {
    //    $(value).click(function () {
    //        let deletesp = "/Partner/QuanLyNS/Delete/" + $(value).val();
    //    })
    //})


</script>