@model Uni_Shop.Models.CheckOut

@{
    ViewData["Title"] = "Checkout";
}

<div class="album bg-light mt-3">
    <div class="container">
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 32%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
            <div style="width: 2%"></div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: 32%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
            <div style="width: 2%"></div>
            <div class="progress-bar bg-info" role="progressbar" style="width: 32%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <form class="row row-cols-1 row-cols-sm-3 g-3">
            @* thong tin *@
            <div class="col">
                <div class="container card shadow-sm " style="height:100%">
                    <h5 class="mt-2 p-2">Thông tin khách hàng</h5>
                    <div class="mb-3 mx-2">
                        <label for="name" class="form-label">Họ và tên</label>
                        <input type="text" name="name" class="form-control" id="name" asp-for="@Model.nguoidungdetail.TenNguoiDung" required>
                    </div>
                    <div class="mb-3 mx-2">
                        <label for="sdt" class="form-label">Số điện thoại</label>
                        <input type="text" name="sdt" class="form-control" id="sdt" asp-for="@Model.nguoidungdetail.Sdt" required>
                    </div>
                    <div class="mb-3 mx-2">
                        <label for="address" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" name="address" id="address" asp-for="@Model.nguoidungdetail.DiaChi" required>
                    </div>
                </div>
            </div>
            @* san pham*@
            <div class="col">
                <div class="container card shadow-sm " style="height:100%">
                    <h5 class="mt-2 p-2">Thông tin sản phẩm</h5>
                    <div class="d-flex flex-row justify-content-between">
                        <h6>Sản phẩm</h6>
                        <h6>Giá (VNĐ)</h6>
                    </div>
                    @foreach (var item in Model.cartcontentdetail)
                    {
                        <div class="d-flex flex-row justify-content-between">
                            <p>@item.nongsandetail.TenNongSan x @item.SL </p>
                            <p>
                                @{
                                    double val = Convert.ToDouble(item.nongsandetail.Gia) * item.SL;
                                }
                                @val 000
                            </p>
                        </div>
                    }
                    <hr class="hr" />
                    <div class="d-flex flex-row justify-content-between mb-2">
                        <p><b>Tổng cộng</b> </p>
                        <p>
                            @Model.ThanhTien 000
                        </p>
                    </div>

                </div>
            </div>
            @* Thanh toan*@
            <div class="col">
                <div class="container card shadow-sm " style="height:100%">
                    <h5 class="mt-2 mb-2 p-2">Phương thức thanh toán</h5>
                    <button type="submit" class="btn shadow-md center mb-4">
                        Thanh toán khi nhận hàng
                    </button>
                    <button type="submit" class="btn shadow-md center mb-4" asp-controller="Payment" asp-action="Payment">
                        Thanh toán bằng VNPAY

                    </button>
                    <button type="submit" class="btn shadow-md center mb-4" asp-controller="Payment" asp-action="PaypalCheckout">
                        Thanh toán bằng PAYPAL
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>
<script>
    //Khoa moi them 20h ngay 13/11
    async function CheckInput() {
        var ten = document.getElementById("name");
        var sdt = document.getElementById("sdt");
        var diachi = document.getElementById("address");
            await $.ajax({
            type: 'POST', url: '/Payment/updateProfie',
            data: { name: ten, phone: sdt, address: diachi }, success: function (response) {
                    if (response.success) {
                    }
                },
                error: function (response) {
                    alert("error!");  //
                }
            });
    }

</script>
